cff-version: 1.2.0
message: "Please cite this software and the associated methods publication."
title: "Human-in-the-Loop Agent Workflow from CT/DICOM to FEBio"
type: software
authors:
  - family-names: "MİS"
    given-names: "Yavuz Kürşat"
    affiliation: "Kocaeli Üniversitesi Tıp Fakültesi Anatomi Ana Bilim Dalı"
    orcid: "https://orcid.org/0009-0007-7601-8628"
repository-code: "https://github.com/yavuzkursatmis/dicom-febio-agent-pipeline"
license: "Apache-2.0"
